numpy
https://download.pytorch.org/whl/cu92/torch-0.4.1-cp36-cp36m-linux_x86_64.whl ; sys_platform == 'linux'
http://download.pytorch.org/whl/torch-0.3.1-cp35-cp35m-macosx_10_6_x86_64.whl ; sys_platform == 'darwin'
torchvision
losswise
PyYAML
matplotlib
scipy
Flask
netaddr
pymongo
netifaces
deap
imbalanced-learn